.building-header-wrap {
  height: $header-height;
  color: $reverse-color;
  font-size: $font-size--large;
  border-radius: 2px;
  margin-left: 2px;
  display: flex;

  .building-header__left,
  .building-header__right {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: -1px;
  }

  .building-header__right {
    margin-right: 6px;
  }

  .building-header__center {
    flex: 1;
    width: 0;
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .building-title__primary {
    color: $font-color;
    font-size: $font-size--large;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .building-title__second {
    font-size: $font-size--large;
    color: $font-color--light;
    margin-left: 6px;
  }
}
