/* 多个布局公用样式 */
.house-render-wrap {
  overflow: auto;
}

.house-cell-wrap {
  padding: 6px 4px;
  border-radius: 2px;
  background-color: $background-color;
  text-align: left;
  border-spacing: 0;
  font-size: $font-size;
  color: $font-color;
  border: 1px solid $border-color;
  display: flex;
  position: relative;
  cursor: pointer;

  &.simple-cell {
    padding-top: 6px;

    .house-cell__block-title {
      text-align: center;
      text-decoration: initial;
      display: block;
      white-space: initial;
      text-overflow: initial;
      word-break: initial;
    }
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 10px solid $primary-color;
    border-bottom: 10px solid $primary-color;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  &::after {
    width: 4px;
    height: 6px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-left: 1px solid $reverse-color;
    border-top: 1px solid $reverse-color;
    transform: rotate(-135deg);
  }

  .house-cell__block {
    width: 0;
    flex: 1;
    padding: 0 4px;
    overflow: hidden;
  }

  .house-cell__block-title,
  .house-cell__block-item {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    @include text-ellipsis;
  }

  .house-cell__block-title {
    display: inline-block;
    max-width: 100%;
    font-size: $font-size;
  }

  .house-cell__block-item {
    font-size: $font-size--xsmall;
    color: $font-color--light;
  }

  .house-cell__symbol-row {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    > div:not(:first-child) {
      margin-left: 3px;
    }
  }
}

.house-selected {
  .house-cell-wrap {
    &::before,
    &::after {
      content: " ";
    }
  }
}

.house-highlight {
  .house-cell-wrap {
    border: none;
    box-shadow: 0 0 6px #0000ff;
  }
}

.house-cell-wrap.has-bg {
  border: none;
  .house-cell__block-item {
    color: $font-color;
  }
}

.floor-cell-wrap {
  @include cell-content;
}

.building-tr_floor,
.building-fr_floor {
  &:nth-child(2n) {
    .floor-cell-wrap {
      background-color: $background-color--dark3;
    }
  }

  &:nth-child(2n + 1) {
    .floor-cell-wrap {
      background-color: $background-color--dark2;
    }
  }
}

/* table布局样式*/
.house-table-render {
  display: inline-block;
  max-width: 100%;

  .house-table {
    border: none;
    table-layout: fixed;
  }

  .house-cell__block  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .building-td__floor {
    @include table-cell;
  }

  .building-td__house {
    @include table-cell;
    vertical-align: top;

    .house-cell-wrap {
      height: 100%;
      box-sizing: border-box;
    }
  }
}

/* flex布局样式*/
.house-flex-render {
  .building-fr_floor {
    display: flex;
    gap: $cell-padding * 2;
    &:not(:last-child) {
      margin-bottom: $cell-padding * 2;
    }
  }

  .building-fr__unit-wrap {
    flex: 1;
    display: flex;
    gap: $cell-padding * 2;
  }

  .building-fr__house-wrap {
    flex: 1;
    text-align: left;
  }

  .building-fr__house-inner {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: $cell-padding * 2;
  }

  .building-fd__floor {
    width: var(--hfr-floor-width);
  }

  .building-fd__house {
    width: var(--hfr-house-width);
  }
}
