@mixin table-cell {
  padding: $cell-padding;
  height: 1px;
}

@mixin cell-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color--dark3;
  border-radius: 2px;
  border: 1px solid $border-color;
  box-sizing: border-box;
}

@mixin header-cell {
  font-size: 13px;
  color: $font-color--light;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: $scrollbar-width;
    height: 10px;
    border-radius: 15px;
    background-color: transparent;
    -webkit-border-radius: 15px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: rgba(144, 147, 153, 0.5);
    border-radius: 15px;
    -webkit-border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    width: 7px;
    background-color: rgba(144, 147, 153, 0.5);
    border-radius: 15px;
    -webkit-border-radius: 15px;
  }
}
