.building-table-wrap {
  position: relative;
  padding: 2px 5px 5px;
  background-color: $background-color--dark1;
  border: 1px solid $border-color--light;
  border-radius: 2px;
  box-sizing: border-box;

  @include scrollbar;

  .building-table__visual {
    overflow: hidden;
  }

  .building-table__content {
    display: flex;
  }

  .building-table__content-left {
    flex: 1;
    width: 0;
    overflow: hidden;
  }

  .building-table__content-right {
    margin-left: 5px;
  }

  .building-table__footer {
    margin-top: 6px;
  }

  .building-table__tip,
  .building-table__empty {
    border: 1px solid $border-color;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    height: 100%;
  }
}
