/*tool common */
.building-tool {
  position: relative;

  &:not(:first-child) {
    margin-left: 16px;
  }

  &:not(:last-child):after {
    content: " ";
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 1px;
    margin-left: 6px;
    background-color: #fff;
  }

  .building-tool__button {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
    padding: 0 14px;
    margin-right: 6px;
    transition: all 0.25s ease;

    &:hover {
      border: 2px solid #275cc4;
      padding: 0 13px;
    }
  }

  .building-tool__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-left: 3px;
    background-size: 100% 100%;
    cursor: pointer;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}

/*switch logic tool*/
.switch-logic-tool-wrap {
  .logic-item {
    display: inline-block;
    font-size: $font-size--small;
    cursor: pointer;
    border: 1px solid #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 14px;
    position: relative;
    transition: all 0.25s ease;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &::before {
      position: absolute;
      right: -1px;
      bottom: -1px;
      border-right: 6px solid $primary-color--dark2;
      border-bottom: 6px solid $primary-color--dark2;
      border-top: 6px solid transparent;
      border-left: 6px solid transparent;
    }

    &::after {
      width: 2px;
      height: 4px;
      position: absolute;
      right: 1px;
      bottom: 1px;
      border-left: 1px solid $reverse-color;
      border-top: 1px solid $reverse-color;
      transform: rotate(-135deg);
    }

    &:hover {
      border: 2px solid $primary-color--dark2;
      padding: 0 13px;
    }

    &.logic-checked {
      border: 2px solid $primary-color--dark2;
      padding: 0 13px;

      &::before,
      &::after {
        content: " ";
      }
    }
  }
}

/*select tool*/
.select-tool-wrap {
  cursor: pointer;
  > input {
    vertical-align: middle;
    margin-right: 4px;
  }

  > label {
    vertical-align: middle;
    font-size: 13px;
    font-weight: normal;
  }
}

/*locate tool*/
.locate-tool-wrap {
  .locate-tool__select {
    background-color: transparent;
    color: #fff;
    border: none;
    position: relative;

    > option {
      padding: 2px 5px;
      color: #333;
    }
  }

  .locate-tool__input {
    height: 20px;
    padding: 0 2px;
    margin-left: 8px;
    font-size: $font-size--small;
    border: none;
    border-radius: 1px;
  }

  .locate-button {
    margin-left: 8px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACEUlEQVQ4T72UPUhcQRSFfWixiDYmKiKCxGCwkYiIglimCCoxGLQTg50GEf/QKkUQFQ1RUOxkrRIwguiSJm0Q1w1JGYI/MZUhoo1os+j6nWV2nZ11Vwtx4OPN3HvmvDtvZp6XccfNu41fJBLxo4t4nvf6Jn1aQ4yKMHgG0zKEVky/pTO91hCjx0x6B68gyzE4ZvwRhjE/c82TDDErR6Qq8mEdtFyZqOlFI1AGv+E5pn9s0wRDzEpJfocH0I/4g1sBmkxiAzAJe/AU3UlM5xoukeiAN4jmXTN7jHEP4zlYQNudZIigmOA+/EBQK4GpZoxuJxTCBrSQPzT5IM9KeEjsVLF4hUxuZ/wJukgumglTPAedStfIvzD5Xp6z8JLYatwQsxkGzfAI6kgGifno69u4u3xBLFc7jKaevjZwFwLE+qIVGsNGutrFehIbxLLpR5fhNBn60ITR6NNsJhkaUy1DZcc3hAkBxnqR3VSJVqNCdHP0edqILStmf8McxjpvIZJaiiYUaClQYxxDPJvI/zf5LZ5VUELsX4KhEeio6AgkHBuMK6Jiz/sVK9U6Nn77jrvnMJcJP0E3YRSmEJ/b6zVHaYjYOBxBNZq/Mc11V087/QWegHZvAnbMBPvqyUwbqCsYb6l+Dtrh99AGefYE+mH4DG8x23ZyV5viJqxv1UB/BfT70lK/YnSQSn+/P9hUVaSLXwLef8YVlIGjJQAAAABJRU5ErkJggg==");
  }
}
