/*tool common */
.building-tool {
  position: relative;

  &:not(:first-child) {
    margin-left: 16px;
  }

  .building-tool__icon {
    color: $primary-color;
    font-size: 20px;
    cursor: pointer;
  }
}

.el-radio-group {
  .el-radio-button__inner {
    padding: 7px 9px;
  }
}

/*locate tool*/
.locate-tool-wrap {
  .locate-tool__input > .el-input__inner {
    width: 110px;
  }

  .el-input-group__prepend {
    background-color: $background-color;
  }

  .el-input-group__prepend {
    .el-input--suffix {
      width: 70px;
      .el-input__inner {
        padding-left: 10px;
        padding-right: 20px;
      }
      .el-input__icon {
        width: auto;
      }
    }
  }

  .el-icon-aim {
    font-size: $font-size--large;
    cursor: pointer;
  }
}
